@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body1{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  /* margin: 10px; */
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  border: #6a6d72;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: 2px solid #707070;
}
.wrapper h2{
  position: relative;
  margin-top: -5px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
/* .wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
} */
.wrapper form{
  margin-top: 0px;

}
.wrapper form .input-box{
  height: 40px;
  margin: 15px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #a2a2a2;
  /* border-bottom-width: 2.5px; */
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #fbfbfb;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #525357;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #3d6958;
  cursor: pointer;
}
.input-box.button1 input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #6a6d72;
  cursor: pointer;
}
.input-box.button1 a{
  display: block;
  height: 40px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  line-height: 40px;
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: #6a6d72;
  cursor: pointer;
}
.input-box.button2 input{
  margin-top: -10px;
  color: #6a6d72;
  letter-spacing: 1px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
}
.input-box.button2 a{
  margin-top: 10px;
  display: block;
  height: 40px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  line-height: 40px;
  color: #6a6d72;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: #e0e0e0;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #2f5648;
}
.input-box.button1 input:hover, .input-box.button1 a:hover{
  background: #525357;
}
.input-box.button2 input:hover, .input-box.button2 a:hover{
  background: #dbdbdb;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #3d6958;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}